* {
  -webkit-tap-highlight-color: transparent;
}

html, body {
    margin: 0px;
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    overscroll-behavior:none;
  }

  body {
    font-family: 'Inter';
    font-size: 62.5%;
    color: #222;
    background-color: #fff;
    opacity: 1;
    --font-family: 'Inter';
    --text-color: #222;
    --background-color: #fff;

    --patrick-font: 'EB Garamond';
    --patrick-text-transform: uppercase;
    --van-patten-font: 'Old Standard TT';
    --van-patten-text-transform: uppercase;
    --bryce-font: 'Roboto';
    --bryce-text-transform: uppercase;
    --allen-font: 'Alegreya SC', sans-serif;
    --allen-text-transform: uppercase;

    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }

  body :after {
    font-family: 'Inter';
    font-size: 62.5%;
    color: #222;
    background-color: #fff;
    opacity: 1;
    --font-family: 'Inter';
    --text-color: #222;
    --background-color: #fff;

    --patrick-font: 'EB Garamond';
    --patrick-text-transform: uppercase;
    --van-patten-font: 'Old Standard TT';
    --van-patten-text-transform: uppercase;
    --bryce-font: 'Roboto';
    --bryce-text-transform: uppercase;
    --allen-font: 'Alegreya SC', sans-serif;
    --allen-text-transform: uppercase;

    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }

  body.dark-theme {
    font-family: 'Fira Code';
    color: rgb(89, 255, 0);
    background-color: #152028;
    opacity: 1;
    --font-family: 'Fira Code';
    --text-color: rgb(89, 255, 0);
    --background-color: #152028;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }

  body.dark-theme :after {
    font-family: 'Fira Code';
    color: rgb(89, 255, 0);
    background-color: #152028;
    opacity: 1;
    --font-family: 'Fira Code';
    --text-color: rgb(89, 255, 0);
    --background-color: #152028;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }

.container-parent{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /*height: fit-content;*/
  color: var(--text-color);
  background-color: var(--background-color);
}

.container-card{
  display: flex;
  flex-direction: column;
  height: 100%;
  color: inherit;
  background-color: inherit;
  padding-top: 5px;
}

/*american psycho stuff here */
    #business-card {
      position: relative;
      margin: auto;
      margin-bottom: 2%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 350px;
      height: 200px;
      min-width: 36.297828vw;
      min-height: 20.78119924vw;
    }

    #business-card p {
      color: #000;
      font-size: 0.95em;
      margin: 0;
    }

    .patrick-card {
      background-color: #e3dac9;
      font-family: var(--patrick-font);
      text-transform: var(--patrick-text-transform);
    }
    .patrick-card #bottom-info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 0.62em;
      padding: 10px;
    }
    .patrick-card #phone-number {
      position: absolute;
      top: 20px;
      left: 25px;
      font-size: 0.95em;
      margin: 0;
    }
    .patrick-card #company {
      font-size: 0.95em;
    }
    .patrick-card #murders-and-executions {
      font-size: 0.52em;
    }
    .patrick-card #first-name {
      font-size: 0.75em;
    }
    .patrick-card #last-name {
      font-size: 0.9em;
    }
    .patrick-card #title {
      font-size: 0.76em;
    }
    .patrick-card #watermark {
      display: none;
    }
    .van-patten-card {
      background-color: #f0ead6;
      font-family: var(--van-patten-font);
      text-transform: var(--van-patten-text-transform);
    }
    .van-patten-card #bottom-info {
      font-size: 0.5em;
      padding-bottom: 15px;
    }
    .van-patten-card #phone-number {
      font-size: 0.76em;
    }
    .van-patten-card #company {
      font-size: 0.76em;
    }
    .van-patten-card #murders-and-executions {
      font-size: 0.61em;
      text-transform: none;
    }
    .van-patten-card #first-name {
      font-size: 0.7em;
      font-weight: bold;
    }
    .van-patten-card #last-name {
      font-size: 0.75em;
      font-weight: bold;
    }
    .van-patten-card #title {
      font-size: 0.8em;
      text-transform: none;
    }
    .van-patten-card #watermark {
      display: none;
    }
    .bryce-card {
      background-color: white;
      font-family: var(--bryce-font);
      text-transform: var(--bryce-text-transform);
    }
    .bryce-card #bottom-info {
      font-size: 0.5em;
      padding-bottom: 15px;
    }
    .bryce-card #phone-number {
      font-size: 0.76em;
    }
    .bryce-card #company {
      font-size: 0.76em;
    }
    .bryce-card #murders-and-executions {
      font-size: 0.51em;
      text-transform: none;
    }
    .bryce-card #first-name {
      font-size: 0.7em;
    }
    .bryce-card #last-name {
      font-size: 0.75em;
    }
    .bryce-card #title {
      font-size: 0.65em;
      text-transform: none;
    }
    .bryce-card #watermark {
      display: none;
    }
    .allen-card {
      background-color: #fdfdfd;
      font-family: var(--allen-font);
      text-transform: var(--allen-text-transform);
    }
    .allen-card #bottom-info {
      font-size: 0.7em;
      padding-bottom: 15px;
    }
    .allen-card #phone-number {
      font-size: 0.9em;
    }
    .allen-card #company {
      font-size: 0.9em;
    }
    .allen-card #murders-and-executions {
      font-size: 0.51em;
    }
    .allen-card #first-name {
      font-size: 0.8em;
      font-weight: bold;
    }
    .allen-card #last-name {
      font-size: 0.9em;
      font-weight: bold;
    }
    .allen-card #title {
      font-size: 0.6em;
    }
    #phone-number {
      position: absolute;
      top: 20px;
      left: 25px;
    }
    #murders-and-executions {
      font-size: 0.52em;
    }
    #company-section {
      position: absolute;
      top: 20px;
      right: 25px;
    }
    #company-section p {
      margin: 0;
    }
    #name-and-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    #first-name {
      display: inline-block;
    }
    #last-name {
      display: inline-block;
    }
    #title {
      text-align: center;
      font-size: 0.8em;
    }
    #bottom-info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 0.62em;
      padding: 10px;
    }
    #watermark {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 10px;
      opacity: 0.1;
      color: black;
      font-size: 1.2vw;
    }
    @media (min-width: 1100px) {
      #business-card p {
        font-size: 1.6vw;
      }
      #murders-and-executions {
        font-size: 0.87vw;
      }
      #title {
        font-size: 1.4vw;
      }
      #bottom-info {
        font-size: 1vw;
      }
      .patrick-card #phone-number {
        font-size: 1.6vw;
      }
      .patrick-card #company {
        font-size: 1.6vw;
      }
      .patrick-card #murders-and-executions {
        font-size: 0.87vw;
      }
      .patrick-card #bottom-info {
        font-size: 1vw;
      }
      .patrick-card #title {
        font-size: 1.1vw;
      }
      .patrick-card #first-name {
        font-size: 1.25vw;
      }
      .patrick-card #last-name {
        font-size: 1.6vw;
      }

      .van-patten-card #phone-number {
        font-size: 1.1vw;
      }
      .van-patten-card #company {
        font-size: 1.1vw;
      }
      .van-patten-card #murders-and-executions {
        font-size: 0.89vw;
        text-transform: none;
      }
      .van-patten-card #bottom-info {
        font-size: 0.8vw;
        padding-bottom: 35px;
      }
      .van-patten-card #title {
        font-size: 1.5vw;
        text-transform: none;
      }
      .van-patten-card #first-name {
        font-size: 1.4vw;
      }
      .van-patten-card #last-name {
        font-size: 1.6vw;
        font-weight: bold;
      }
      .bryce-card #phone-number {
        padding-top: 20px;
        font-size: 1.1vw;
      }
      .bryce-card #company {
        padding-top: 20px;
        font-size: 1.1vw;
      }
      .bryce-card #murders-and-executions {
        font-size: 0.74vw;
        text-transform: none;
      }
      .bryce-card #bottom-info {
        font-size: 0.9vw;
        padding-bottom: 20px;
      }
      .bryce-card #title {
        font-size: 1.2vw;
        text-transform: none;
      }
      .bryce-card #first-name {
        font-size: 1.4vw;
      }
      .bryce-card #last-name {
        font-size: 1.6vw;
      }
      .allen-card #phone-number {
        font-size: 1.2vw;
      }
      .allen-card #company {
        font-size: 1.2vw;
      }
      .allen-card #murders-and-executions {
        font-size: 0.685vw;
      }
      .allen-card #bottom-info {
        font-size: 1.2vw;
        padding-bottom: 20px;
      }
      .allen-card #title {
        font-size: 1.2vw;
      }
      .allen-card #first-name {
        font-size: 1.6vw;
        font-weight: bold;
      }
      .allen-card #last-name {
        font-size: 1.8vw;
        font-weight: bold;
      }
    }

/* navbar stuff here */ 

  .navbar {
    display: flex;
    top: 0;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    position: -webkit-sticky;
    position: sticky;
    justify-content: safe center;
    background-color: var(--background-color);
    color: var(--text-color);
    opacity: 1
  }
  
  .navbar-fixed {
    display: flex;
    top: 0;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    position: fixed;
    justify-content: safe center;

    width: 100%;
    transition: top 3s;
    background-color: var(--background-color);
    color: var(--text-color);
    opacity: 1
}

  .left-empty-space {
    margin-left: 0 auto;
  }

  .right-empty-space {
    margin-right: 0 auto;
  }

  .dropdown {
    top: 0;
    overflow: hidden;
    background-color: inherit;
    color: inherit;
    opacity: 1;
    justify-content: right;
    margin-right: 0;
    padding-right: 0;
  }

  .dropbtn {
    font-size: 36px;
    background-color: inherit;
    color: inherit;
    opacity: 1;
    border: none;
    font-family: inherit;
    padding-left: 14px;
    padding-right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: right;
    margin-right: 0;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: inherit;
    color: inherit;
    z-index: 1000;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .dropdown-content a {
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    display: block;
    font-size: 24px;
    opacity: 1;
    padding-left: 16px;
    padding-right: 16px;
    margin: 16px;
  }

  .show {display:block;}

  /* The switch - the box around the slider */

  .power-switch {
    --color-invert: rgb(89, 255, 50);
    --width: 63px;
    --height: 63px;
    margin-left: 0;
    padding-left: 0;
    position: relative;
    display: flex;
    justify-content: left;
    width: var(--width);
    height: var(--height);  

  }
  .power-switch .button {
    width: 100%;
    height: 100%;
    display: flex;
    margin-left:0;
    padding-left: 0;
    justify-content: left;
    position: relative;
  }
  .power-switch .button:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(circle closest-side, var(--color-invert), transparent);
    /*filter: blur(20px);*/
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    transform: perspective(1px) translateZ(0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .power-switch .button .power-on,
  .power-switch .button .power-off {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    fill: none;
    stroke: var(--color-invert);
    stroke-width: 10px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .power-switch .button .power-on .line,
  .power-switch .button .power-off .line {
    opacity: 0.2;
  }
  .power-switch .button .power-on .circle,
  .power-switch .button .power-off .circle {
    opacity: 0.2;
    transform: rotate(-58deg);
    transform-origin: center 33px;
    stroke-dasharray: 220;
    stroke-dashoffset: 40;
  }
  .power-switch .button .power-on {
    filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 1)); 
  }

  .power-switch .button .power-on .line {
    opacity: 0;
    transition: opacity 0.3s ease 1s;
  }
  .power-switch .button .power-on .circle {
    opacity: 1;
    stroke-dashoffset: 220;
    transition: transform 0s ease, stroke-dashoffset 1s ease 0s;
  }
  .power-switch input {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
  }
  .power-switch input:checked + .button:after {
    opacity: 0.20;
    transform: scale(2) perspective(1px) translateZ(0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .power-switch input:checked + .button .power-on,
  .power-switch input:checked + .button .power-off {
    -webkit-animation: click-animation 0.3s ease forwards;
            animation: click-animation 0.3s ease forwards;
    transform: scale(1);
  }
  .power-switch input:checked + .button .power-on .line,
  .power-switch input:checked + .button .power-off .line {
    -webkit-animation: line-animation 0.8s ease-in forwards;
            animation: line-animation 0.8s ease-in forwards;
  }
  .power-switch input:checked + .button .power-on .circle,
  .power-switch input:checked + .button .power-off .circle {
    transform: rotate(302deg);
  }
  .power-switch input:checked + .button .power-on .line {
    opacity: 1;
    transition: opacity 0.05s ease-in 0.55s;
  }
  .power-switch input:checked + .button .power-on .circle {
    transform: rotate(302deg);
    stroke-dashoffset: 40;
    transition: transform 0.4s ease 0.2s, stroke-dashoffset 0.4s ease 0.2s;
  }
  
  @-webkit-keyframes line-animation {
    0% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(10px);
    }
    40% {
      transform: translateY(-25px);
    }
    60% {
      transform: translateY(-25px);
    }
    85% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes line-animation {
    0% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(10px);
    }
    40% {
      transform: translateY(-25px);
    }
    60% {
      transform: translateY(-25px);
    }
    85% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @-webkit-keyframes click-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes click-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

  
  .container-page {
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
    min-height: 600px;
    background-color: var(--background-color);
    color: var(--text-color);
  }

  .container-page .welcome {
    text-align: center;
  }

  .container-page h1{
    font-size: 1.8rem;
  }

  .container-page h2{
    font-size: 1.4rem;
  }

  .container-page h3{
    font-size: 1.15rem;
  }

  .container-page h1,h2,h3 {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: center;
  }

  .container-page a {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: center;
    text-decoration: none;
    background-color: inherit;
    color: inherit;
  }

  .container-page .selected-writing{
    text-align: center;
  }
  


  @media all and (orientation: landscape) {
    .container-page p {
    font-size: 2.5vmin;
    }
  }

  @media all and (orientation: portrait) {
    .container-page p {
    font-size: 2vmax;
    }
  }

  /*contact page here*/

  .container-contact {
    background-color: inherit;
    color: inherit;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
  }

  .container-contact p {
    background-color: inherit;
    color: inherit;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
  }

  .container-contact a {
    background-color: inherit;
    color: inherit;
    text-decoration: none;
  }

  #onlyFans {
    display: block;
    z-index: 1;
    font-size: 1.4rem;
    cursor: pointer;
  }
  #onlyFans-checkbox {
    display: none;
  }
  #onlyFans-checkbox:checked + #onlyFans:after {
    content: "Wtf u actually clicked? relax..";
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    font-size: 1.4rem;
    z-index: 1;
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
  }