html, body {
    font-family: 'Fira Code';
  }


  .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    opacity: 1
  }  

  .dropdown {
    top: 0;
    overflow: hidden;
    background-color: inherit;
    opacity: 1
  }

  .dropbtn {
    font-size: 36px;
    background-color: inherit;
    color: inherit;
    opacity: 1;
    border: none;
    font-family: inherit;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: inherit;
    z-index: 1;
  }

  .dropdown-content a {
    color: inherit;
    text-decoration: none;
    display: block;
    font-size: 24px;
    opacity: 1;
    padding-left: 16px;
    padding-right: 16px;
    margin: 16px;
  }

  .show {display:block;}
  
  .social-links ul {
    list-style: none;
  }

  .social-links li {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
  }

  #onlyFans {
    position: relative;
  }
  #onlyFans-checkbox {
    display: none;
  }
  #onlyFans-checkbox:checked + #onlyFans:after {
    content: "Wtf come on. Really? Get help";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
  }