html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px;
    padding: 0px;

    font-family: 'Fira Code';
  }

  /*.navbar {
  }*/
  
  .navbar li {
    display: inline-block;
    margin-right: 8px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .container {
    padding-top: 60px;
  }

  .social-links {
    list-style: none;
    /*padding-left: 0px;*/
    font-size: 18px;
  }
  