html
  body
    #card.card
      .topRow
        h2.telephone 215-555-6342
        .companyDetails
          h2.company Pierce & Pierce
          h4.byline Mergers and Acquisitions
      .centerRow
        h2.name Patrick BATEMAN
        h3.title Vice President
      h3.address 358 Exchange Place New York, N.Y. 10099 Fax 212 555 6390 telex 10 4534