@import 'https://fonts.googleapis.com/css?family=Prata';

html {
	font-size: 14px;	
}

body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	background-color: #ff6f69;
	font-family: Silian Rail, Garamond Classico Roman SC, Prata,serif;
	font-variant: small-caps;
	text-align: center;
	margin:0;
	width: 100vw;
	height: 100vh;
	perspective-origin: center center;
    perspective: 1000px;
	user-select: none;
	cursor:default;
}
h2, h3, h4, h5 {
	margin: 0;
}
.card {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	background-color: bone;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 2px;
	width: 525px;
	height: 300px;
	padding: 40px;
	box-shadow: 0 5px 50px 0px rgba(0,0,0,0.3);

}
.topRow {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.companyDetails {
	display: flex;
	flex-flow: column nowrap;
}
.centerRow {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
.name,
.company{
	font-size: 1.4rem;
}
.telephone {
	font-size: 1.2rem;
}
.byline,
.address{ 
	font-size: 0.8rem;
}